h1{
  
    width: 120px;
    height: 40px;
    margin: 40px auto;
    padding: auto;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    text-decoration: underline;
    text-align: center;
    color:blue;
    }